ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: orange;
  }


  .conteinrt{
    background-image: url('./../img/myke-simon-atsUqIm3wxo-unsplash.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .mov{
    font-family: cursive;
    color:white;
  }


  .mlist{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

 
  }